<% if(page.total > 1) { %>
    <nav class='page-nav'>
        <%- paginator({
        prev_text: "&laquo;" + (__paginator.Prev),
        next_text: (__paginator.Next) + "&raquo;"
        }) %>   
    </nav>
<% } %>