        .cylinder-wrap {
        	/*width: 122px;*/
        	width: 33.3333333%;
        	height: 240px;
        	position: absolute;
        	left: 0;
        	bottom: 0;
        	/* overflow: hidden; */
        }
        
        .cylinder-c {
        	width: 99%;
        	height: 45px;
        	border-radius: 50%;
        	border: 1px solid pink;
        	background-color: rgb(224, 177, 238);
        	position: absolute;
        	z-index: 996;
        }
        
        .cylinder-m {
        	width: 99%;
        	height: 80.666667%;
        	border-left: 1px solid pink;
        	border-right: 1px solid pink;
        	position: absolute;
        	top: 24px;
        	left: 0px;
        	z-index: 995;
        	background-color: pink;
        	opacity: 0.5;
        }
        
        .cylinder-text {
        	position: absolute;
        	z-index: 999;
        	width: 100%;
        	height: 30px;
        	line-height: 30px;
        	font-size: 15px;
        	text-align: center;
        	top: 50%;
        	color: white;
        }
        
        .cylinder-bottom {
        	bottom: -1px;
        }
        
        .cylinder-height {
        	height: 100px;
        }
        
        .cylinder-wrap-small {
        	height: 180px;
        	width: 98%;
        	bottom: 0;
        	left: 1%;
        	position: absolute;
        }
        
        .cylinder-c-small {
        	background-color: rgb(150, 138, 239);
        	z-index: 997;
        	border: none;
        	width: 98%;
        	left: 0.5%;
        }
        
        .cylinder-m-small {
        	top: 20px;
        	background-color: rgb(128, 112, 242);
        }
        
        .cylinder-no-border {
        	border: none;
        }
        
		.cylinder-show {
			position: absolute;
			right: 10px;
			bottom: 0;
			width: 60.6666666%;
			height: 220px;
			border: 1px solid gray;
			border-radius: 20px;
			background-color: rgba(150, 138, 239,0.8);
		}

		.cylinder-ul {
			position: absolute;
			margin: 0;
			left: 5px;
			top: 32px;
			list-style: none;
			width: 92%;
			height: 85%;
			padding: 0 0 0 15px;
		}

		.cylinder-ul li {
			width: 100%;
			height: 35px;
			line-height: 35px;
		}

		.cylinder-refresh {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 26px;
			height: 26px;
		}
		
		.cylinder-refresh-animation {
			-webkit-animation: xuanzhuan 1.2s linear infinite;
		}
		
		.cylinder-refresh img {
			width: 100%;
			height: 100%;
			position: absolute;
		}

		
        /*animate*/	
		@-webkit-keyframes xuanzhuan{
			100%{
				-webkit-transform: rotate(360deg);
			}
		}
		
.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #262526;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}