.soft-my-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
}

.soft-my-img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 30%;
    border-radius: 50%;
    /* border: 8px solid rgb(236,232,232); */
    border: 6px solid rgba(54, 165, 241, 0.5);
    box-shadow: 0 0 5px lightblue;
}

.soft-my-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.soft-my-input {
    width: 270px;
    height: 280px;
    /* border: 1px solid black; */
    margin: 10% auto;
    margin-top: 10%;
}

.soft-my-input-sm {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 25px 0;
    background-color: rgba(255,255,255,0.1);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    box-shadow:  0 0 5px rgba(51, 128, 206, 0.82);
}

.soft-my-input-sm span {
    display: inline-block;
    width: 45px;
    height: 100%;
    font-size: 13px;
    padding-left: 5px;
    /* background-color: rgba(255,255,255,0.8); */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color: black;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.soft-my-input-sm input {
    display: inline-block;
    width: 75%;
    /* height: 100%; */
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    left: 55px;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,-1)!important;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.soft-my-input-sm i {
    font-style: normal;
    position: absolute;
    display: inline-block;
    right: 1px;
    border: none;
    top: 0;
    bottom: 0;
    width: 70px;
    text-align: center;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.soft-my-other {
    font-size: 15px;
    display: block;
    margin-top: 0px;
    text-align: right;
    padding-right: 10px;
}

.soft-my-other a {
    text-shadow:  0 0 3px lightblue;
}

.soft-my-btn {
    width: 100%;
    height: 100%;
    background-color: #8a6de9;
    /* background-color: rgba(51, 128, 206, 0.6); */
    border-radius: 5px;
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    letter-spacing: 0.5px;
}

.soft-my-input-smBtn {
    margin: 20px auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: none;
    /* background-color: lightblue; */
    /* background-color: rgba(191,189,80,1) */
}

.soft-other-wrap {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 3px solid #5555551a;
    box-sizing: border-box;
}

.soft-other-icon {
    position: absolute;
    width: 65px;
    height: 70px;
    display: inline-block;
    margin: 0 30px;
    border-radius: 50%;
    margin-top: 5px;
}

.soft-other-icon-qq {
    left: 23%;
}

.soft-other-icon-wx {
    right: 23%;
}

.soft-other-icon img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 20px;
}

.soft-other-icon span {
    position: absolute;
    left: -4px;
    bottom: -12px;
    display: block;
    height: 20px;
    width: 100%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);

}

.soft-other-login {
    width: 100%;
    position: absolute;
    display: block;
    height: 50px;
    line-height: 65px;
    bottom: 100px;
    text-align: center;
    left: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.soft-my-input-sm .soft-my-error {
    position: absolute;
    display: block;
    width: 100%;
    height: 25px;
    top: 28px!important;
    left: 0;
    background-color: transparent;
    color: orangered;
    font-size: 13px;
    padding-left: 12px;
    opacity: 0;
}

.soft-my-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 15%;
}

.soft-my-input-a a {
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.soft-my-input-a a:nth-of-type(1) {
    float: left;
    padding-left: 6px;
}

.soft-my-input-a a:nth-of-type(2) {
    float: right;
    text-align: right;
    padding-right: 6px;
}

.soft-my-input-a {
    width: 100%;
    height: 20px;
}